<div class="container row vam-header v-separate-header">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
    <div class="row v-bg-primary">
      <div class="col-md-6 col-sm-5 col-xs-6 vam-top-logo vam-PL0"> <a id="hamburger" href="#menu" class="nav-icon"><span></span> </a> <a href="index.html" class="logo">a<span>c</span>me</a> <span class="hidden-xs logo-caption">Tyrell Agency Inc.</span> </div>
      <div class="col-md-6 col-sm-7 col-xs-6 vam-PLR0">
        <ul class="vam-right-login pull-right">
          <li class="user hidden-xs">Welcome to <span>{{name}}</span></li>          
        </ul>
      </div>
    </div>
  </div>
</div>