<div class="content vam-PB35">
  <div class="row vam-MLR0">
      
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-MB25 vam-PT15">
          <div class="content">
              <div class="section">
                                <div class="header">
                                      <div class="header-secondary">Account Details</div>
                                    </div>
                                    <div class="content">
                                    
                                      <div class="row vam-MLR0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                                          <div class="form-group dropdown">
                                            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Customer Account Name</label>
                                            <input type="text" class="form-control dropdown-toggle vam-width200" data-toggle="dropdown" placeholder="Customer Account Name">
                                          <button class="btn btn-blue vam-PTB5 vam-ML15 vam-RXSML15 vam-RXSMT15" onclick="location.href='customer-information.html'; return false;" disabled="">View Customer</button>
                                            <div class="section dropdown-menu vam-dropdownMenuW600" role="menu" aria-labelledby="dropdownMenu1">
                                              <div class="header">
                                                  <div class="header-teritory">Existing Customer Accounts</div>
                                                </div>
                                              <div class="content">
                                                  <div class="row vam-MLR0">
                                                        <div class="col-md-7 col-sm-7 col-xs-12 vam-P0 vam-M0">
                                                            
                                                          <div class="vam-popupContainer">
                                                            <div class="vam-popupleft">
                                                              <ul>
                                                                <li><a href="#" class="active">Barnes Taxi Services</a></li>
                                                                <li><a href="#">Barnes Taxi Services</a></li>
                                                                <li><a href="#">Melvis Taxi</a></li>
                                                                <li><a href="#">Professional Limousines</a></li>
                                                                <li><a href="#">Five Star Taxi Services</a></li>
                                                                <li><a href="#">Transport Co-Op</a></li>
                                                                <li><a href="#">New Diamond Limo</a></li>
                                                                <li><a href="#">King Taxi</a></li>
                                                                <li><a href="#">Ace Taxi &amp; Limousine</a></li>
                                                                <li><a href="#">Budget Taxi</a></li>
                                                                <li><a href="#">Clifton Taxi Service</a></li>
                                                              </ul>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-5 col-sm-5 col-xs-12 vam-P0 vam-M0">
                                                          <p class="vam-popupRight">10 Baker Street,<br> Richmond Suites,<br>South Plainfield,<br> New Jersey, 07080, <br> Phone : 000-123-456 <br>
                                                        </p></div>
                                                      </div>
                                                      
                                                </div>
                                                <div class="footer vam-TxtAlignLeftMob v-bdr-top-secondary-shade vam-PT15"> 
                                                     <!--<button class="btn btn-blue vam-MR15 pull-left">Add as New Customer</button>-->
                                                    <button class="btn btn-success pull-right">Select &amp; Proceed</button>
                                                </div>
                                            </div>
                                          
                                           
                   
                                            
                                            
                                            
                                          </div>
                                        </div>
                                      </div>

                                      

                                        <div class="row vam-MLR0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                                              <div class="form-group">
                                                <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Zip Code</label>
                                                <input type="text" class="form-control" placeholder="07080" style="width:80px;">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row vam-MLR0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                                              <div class="form-group vam-MB10">
                                                <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">City</label>
                                                <select class="form-control">
                                                  <option>Select City</option>
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row vam-MLR0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                                              <div class="form-group vam-MT5">
                                                <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">State</label>
                                                <select class="form-control">
                                                  <option>Select State</option>
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row vam-MLR0">
                                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                                                <div class="form-group vam-MT5">
                                                  <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Street Address</label>
                                                  <input type="text" class="form-control" placeholder="Street Address">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row vam-MLR0">
                                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                                                <div class="form-group vam-MT5">
                                                  <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Apt / Suite / Other</label>
                                                  <input type="text" class="form-control" placeholder="Apt / Suite / Other">
                                                </div>
                                              </div>
                                            </div>
                                      
                                    </div>
                            </div>
                 
                            
                            <div class="section">
                                <div class="header">
                                  <div class="header-secondary">Other Business Information</div>
                                </div>
            <div class="content">
              
              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0 vam-PosStatic">
                  <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0 ">Legal entity type</label>
                    <div>
                      <select class="form-control">
                        <option>Select Legal entity type</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Business inception year</label>
                    <input type="text" class="form-control vam-Width70" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">FEIN Number / Social Security Number</label>
                    <input type="text" class="form-control" placeholder="FEIN Number">
                  </div>
                </div>
              </div>
              
              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">NCCI Risk ID</label>
                    <input type="text" class="form-control" placeholder="NCCI Risk ID">
                  </div>
                </div>
              </div>
              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Business phone</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                </div>
              </div>
              
              
              
              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Email ID</label>
                    <input type="text" class="form-control" placeholder="Email ID">
                  </div>
                </div>
              </div>
            </div>
          </div>
                 
                 
                 
                 
                            
                            
                          
                            <div class="section">
            <div class="header caption-inline">
              <div class="header-secondary">Mailing Address </div>
              <span>
              <input type="checkbox" id="owner" class="css-checkbox">
              <label for="owner" class="css-label vam-MR15">Is the Mailing Address same as the Physical Address ?</label>
              </span> </div>
            <div class="content">

              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Zip Code</label>
                    <input type="text" class="form-control" placeholder="07080" style="width:80px;">
                  </div>
                </div>
              </div>
              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group vam-MB10">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">City</label>
                    <select class="form-control">
                      <option>Select City</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group vam-MT5">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">State</label>
                    <select class="form-control">
                      <option>Select State</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group vam-MT5">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Street Address</label>
                    <input type="text" class="form-control" placeholder="Street Address">
                  </div>
                </div>
              </div>
              <div class="row vam-MLR0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                  <div class="form-group vam-MT5">
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Apt / Suite / Other</label>
                    <input type="text" class="form-control" placeholder="Apt / Suite / Other">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="section vam-MT30">
              <div class="header">
                    <div class="header-secondary">Broker Details</div>
                  </div>
                  <div class="content">
                  
                    
                    <div class="row vam-MLR0">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                        <div class="form-group">
                          <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Agency Name</label>
                          <input type="text" class="form-control" placeholder="Agency" id="address">
                        </div>
                      </div>
                      
                    </div>
                    
                    <div class="row vam-MLR0 vam-MB15" id="agencyAddress" style="display: none;">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-PL0 vam-display-none-sm">&nbsp;</div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-PL0">
                         <p class="vam-Font12">10 Baker Street,<br> Richmond Suites, South Plainfield,<br> New Jersey-07080</p>
                      </div>
                      
                    </div>
                    
                    
                    <div class="row vam-MLR0">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vam-PLR0">
                        <div class="form-group">
                          <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vam-MB5 vam-PL0">Agent Name</label>
                          <input type="text" class="form-control" placeholder="Agent">
                        </div>
                      </div>
                      
                    </div>
                    
                  </div>
          </div>   
                  
            </div>
      </div>
  </div>
</div>